body{
    font-family: 'Poppins', sans-serif;
    margin: 0%;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
    color: lightsalmon;
}
h4{
    font-size: 25px;

}
.color-crimson{
    color: crimson;
}
.color-whith{
    color: beige;
}
.color-black{
    background-color: black;
    padding-top: 2%;
    padding-bottom: 5%;
}

.flexible-contain{
    display: flex;
    margin-bottom: 80px;
   
}
.half-width{
    width: 50%;
    padding: 5%;
}
.half-width img{
    width: 100%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(crimson, #f56991);
    padding: 15px 40px;
    border-radius: 60px;
    color: white;
    font-weight: 700;
}
.top-banner{
    background-image: url(images/Frame\ 58.jpg);
    background-repeat: no-repeat;
}
.about-me{
    background-image: url(images/Frame\ 57.jpg);
    background-repeat: no-repeat;
    padding-left: 10%;
}
.recipie-item{
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 1%;
    padding-right: 1%;
    border-radius: 10%;
    box-shadow: 10px 10px 40px gray;
}
.recipie-item img{
    width: 100%;
    padding-top: 5%;
}
.text-align{
    text-align: center;
}


